# ============================================================
# Airflow
# ============================================================

# Generate with:
# python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
AIRFLOW__CORE__FERNET_KEY=your_fernet_key_here
_AIRFLOW__API_AUTH__JWT_SECRET=your_generated_jwt_secret
AIRFLOW_UID=50000
_AIRFLOW_WWW_USER_USERNAME=airflow_user
_AIRFLOW_WWW_USER_PASSWORD=your_airflow_password_here
_AIRFLOW__CORE__EXECUTION_API_SERVER_URL= http://airflow-webserver:8080/execution/

# ============================================================
# PostgreSQL — Airflow metadata database
# ============================================================
POSTGRES_USER=airflow
POSTGRES_PASSWORD=your_postgres_password_here
POSTGRES_DB=airflow

# ============================================================
# ClickHouse — analytics DWH
# ============================================================
CLICKHOUSE_DB=analytics

# Admin user — for administration only
CLICKHOUSE_ADMIN_USER=admin
CLICKHOUSE_ADMIN_PASSWORD=your_admin_password_here

# dbt user — used by dbt and Airflow DAGs
CLICKHOUSE_AIRFLOW_USER=airflow_user
CLICKHOUSE_AIRFLOW_PASSWORD=your_airflow_password_here